{% set active = 'checkouts' %}
{% extends '_layout.jinja2' %}
{% import '_pagination.jinja2' as paginator %}
{% block title %}
{% if returned %}Returned{% endif %} Checkouts
{% endblock %}
{% block content %}
  <div class='header'>
    <h1>Checkouts</h1>
  </div>
  <div class='content'>
    <div class='buttons inline-block'>
      <div class='right'>
        <a class='button primary' href='/checkouts/new'>New Checkout</a>
        {% if returned %}
          <a class='button primary' href='/checkouts'>
            Checked-out Items
          </a>
        {% else %}
          <a class='button primary' href='/checkouts?returned=true'>
            Returned Items
          </a>
        {% endif %}
      </div>
    </div>
    <div class='clear'></div>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Borrower</th>
          <th>Checkout Time</th>
          {% if returned %}
            <th>Checkin Time</th>
          {% else %}
            <th>Checkin</th>
          {% endif %}
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for checkout in obj.items %}
          <tr>
            <td>{{ checkout.asset.name }}</td>
            <td>{{ checkout.user.full_name }}</td>
            <td>{{ checkout.checkout_date }}</td>
            <td>
              {% if checkout.checkin_time %}
                {{ checkout.checkin_date }}
              {% else %}
                <a class='button secondary'
                   href='/checkouts/{{ checkout._id }}/checkin'>
                  Check In
                </a>
              {% endif %}
            </td>
            <td>
              <a class='button secondary'
                 href='/checkouts/{{ checkout._id }}/remove'>
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ paginator.show(obj, '/checkouts?returned=%s&' % returned) }}
  </div>
{% endblock %}
